.section-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

form {
  background-color: #fff;
  margin: 69px auto;
  padding: 20px;
  height: 500px;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  box-shadow: 0px 0px 12px #1f271baf;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.title-bar,
.footer-bar {
  height: 2px;
  width: 550px;
  background-color: #4EECC7;
  margin: 10px 0 20px 0;
}

.input {
  width: 260px;
  height: 30px;
  border-radius: 5px;
  background-color: #7875861a;
  border: transparent 1px solid;
  padding: 7px;
  margin-bottom: 10px;
  padding-left: 20px;
  flex-direction: row;
}

input[type="date"] {
  color: #787586;
}

.input:focus {
  outline: none;
}

label,
.container-full label {
  font-weight: bold;
  font-size: 14px;
}

span .detail {
  color: #0031b2;
}

.checkbox label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 550px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.checkbox input {
  margin-right: 8px;
}

.container-full,
.email,
.checkbox {
  width: 550px;
}

.container-full .ab {
  text-align: center;
  margin-top: 20px;
}

.login-button {
  display: block;
  margin: 0 auto;
}

.login-button {
  width: 260px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  margin-bottom: 80px;
}

.login-button {
  background-color: #0031B2;
}

.login-button:hover {
  background-color: #002788;
  transition: .8s all;
}