/* Fonte, cores e margens */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.profile-container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  position: relative;
}

#left-column {
  flex: 1;
  text-align: center;
  padding: 20px;
}

#profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

#edit-profile-picture,
#professionals,
#logout-button {
  background-color: #333;
  /* Cinza escuro */
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 10px;
}

#right-column {
  flex: 2;
}

/* Mensagem de boas-vindas */
#message {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

#user-info {
  margin: 20px 0;
}

#user-info p {
  font-size: 16px;
  margin: 5px 0;
}

/* Consultas */
#appointments {
  margin: 20px 0;
}

.appointment {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
}

.appointment-buttons {
  display: flex;
  justify-content: space-between;
}

.appointment-button {
  background-color: #333;
  /* Cinza escuro */
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#edit-profile {
  display: none;
}